{% extends "base.html" %}

{% block title %}Ecoshop{% endblock %}


{% block content %}

<h1>We are in comments product page</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">product</th>
      <th scope="col">dealer</th>
      <th scope="col">title</th>
      <th scope="col">user</th>
      <th scope="col">time reviews</th>
      <th scope="col">persons product</th>
  </thead>
  <tbody>
  {% for comment in comments%}
    <tr>
      <th> {{comment.id}}</th>
      <td>{{comment.product.name}}</td>
      <td>
        {%for person in comment.product.person_set.all %}
          {{person.name}},
        {% endfor %}
      </td>
      <td>{{comment.title}}</td>
      <td>{{comment.author}}</td>
      <td>{{comment.reviews_time}}</td>
      <td>
        {% for person in persons %}
          {% for product in person.product.all %}
            {{product.name}},
          {% endfor %}
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}