{% extends "base.html" %}

{% block title %}products{% endblock %}


{% block content %}

{% for obj in page_obj %}
    {{ obj.name}}<br>
    {% if obj.image %}
        <img style="max-height: 100px" src="{{ obj.image.url }}"/>
    {% endif %}

{% endfor %}



<nav aria-label="...">
    <ul class="pagination">

  {% if page_obj.has_previous %}
  <li class="page-item">
      <a class="page-link" href="?page=1">first</a>
  </li>
  {% endif %}

      {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
       <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
   {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
  <li class="page-item" aria-current="page">
  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endif %}
    {% endfor %}
   {% if page_obj.has_next %}
      <li class="page-item">
       <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
      </li>
    {% endif %}
</ul>
</nav>

<!--{% static "C:/Users/Denis/PycharmProjects/shop/shop/ecoshop/static/css/products.css" %}-->

<!--<section class="section-products">-->
<!--		<div class="container">-->
<!--				<div class="row justify-content-center text-center">-->
<!--						<div class="col-md-8 col-lg-6">-->
<!--								<div class="header">-->
<!--										<h3>Featured Product</h3>-->
<!--										<h2>Popular Products</h2>-->
<!--								</div>-->
<!--						</div>-->
<!--				</div>-->
<!--				<div class="row">-->
<!--					{% for prod_key,prod_val in goods.items %}-->
<!--						{% for key,value in prod_val.items %}-->
<!--						<div class="col-md-6 col-lg-4 col-xl-3">-->

<!--								{% if key == 'id' %}-->
<!--									<div id="product-{{value}}" class="single-product" >-->


<!--										<div class="part-1">-->
<!--												<ul>-->
<!--														<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>-->
<!--												</ul>-->
<!--										</div>-->

<!--										<div class="part-2">-->
<!--											{% if key == 'price' %}-->
<!--												<h4 class="product-price">${{value}}</h4>-->
<!--											{% endif %}-->
<!--										</div>-->
<!--								</div>-->
<!--								{% endif %}-->

<!--						</div>-->
<!--						{% endfor %}-->
<!--					{% endfor %}-->

<!--				</div>-->
<!--		</div>-->
<!--</section>-->

{% endblock %}